body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #FFFFFF;
}

.page{
	min-height: 100vh;
	position: relative;
	padding-top: 75px;
	padding-bottom: 220px;
	box-sizing: border-box;
}

.main-container{
	width: 845px;
	margin: 0 auto;
	padding-left: 42px;
}

.header__column{
	display: inline-block;
	vertical-align: bottom;
}

.header__news{
	width: 70%;
}

.header__ad{
	width: 20%;
}

.button{
	font-family: inherit;
	border: none;
	cursor: pointer;
}

.list{
	margin: 0;
	padding: 0;
}

.list__item:first-of-type{
	margin-top: 0;
}

.list__item{
	margin-top: 12px;
}

.link{
	text-decoration: none;
	color: inherit;
}

.link:hover{
	color: #C00
}

.link:focus{
	outline-color: #FFCC00;
}

.ya-service{
	font-weight: bold;
}

.widget__header{
	font-size: 16px;
	color: #0054B9;
	margin-bottom: 12px;
}

.widget__title{
	margin: 0;
	font-weight: normal;
}

.widget__title_inline{
	display: inline-block;
	vertical-align: top;
}

.widget__list{
	list-style-type: none;
}

.widget__label{
	margin-right: 6px;
}

.widget__label:last-child{
	margin-right: 0;
}

.widget__label_gray{
	color: #999999;
}

.widget__value{
	color: #000000;
	font-size: 18px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 32px;
	padding-left: 36px;
}

.widget__value_cloudy{
	background-image: url(../images/cloudy.svg);
}

.widget__value_sunny{
	background-image: url(../images/sunny.svg);
}

.widget__value_wtf{
	background-image: url(../images/wtf.svg);
}

.widget__value_stars-moon{
	background-image: url(../images/stars_moon.svg);
}

.widget__image{
	width: 120px;
	height: 90px;
}

.news__tabs{
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
}

.news__tab{
	margin-right:6px;
	display: inline-block;
	vertical-align: top;
	color: #6DABE9;
}

.news__tab_active{
	color: #0054B9;
}

.news__date{
	color: #999999;
	font-size: 12px;
}

.header__courses{
	margin-top: 12px;
}

.header__course{
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
}

.header__course:last-child{
	margin-right: 0;
}

.course{	
	font-size: 12px;
}

.course__name{
	letter-spacing: 1px;
}

.course__change{
	color: #999999;
}

.course__item{
	margin-right: 3px;
}

.course__item:last-child{
	margin-right: 0;
}

.search{
	margin-top: 40px;
	position: relative;
}

.menu{
	margin-bottom: 10px;
}

.menu__item{
	display: inline;
	margin-right: 10px;
	font-size: 15px;
	color: #0054b9;
}

.menu__item:last-child{
	margin-right: 0;
}

.search__logo{
	position: absolute;
	left: -150px;
    top: -10px;
}

.search__fieldbox{
	position: relative;
	display: inline-block;
	width: 88%;
}

.search__field{
	padding: 7px 50px 7px 12px;
	border: 2px solid #FFDB4D;
	border-right: none;
	font-size: 16px;
	width: 100%;
}

.search__field:focus{
	outline: none;
}

.search__keyboard{
	position: absolute;
	padding: 0;
	right: 15px;
    top: 13px;
	background-image: url(../images/keyboard.svg);
	background-color: #FFFFFF;
	width: 27px;
	height: 12px;
	opacity: 0.5;
}

.search__keyboard:hover{
	opacity: 1;
}

.search__keyboard:focus{
	opacity: 1;
	outline: none;
}

.search__button{
	background-color: #FFDB4D;
	width: 9%;
	font-size: 16px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	position: relative;
	right: 1%;
}

.search__button:after{
	content: "";
    position: absolute;
    right: -31px;
    top: -1px;
    border: 19px solid transparent;
    border-left: 12px solid #FFDB4D;
}

.search__button:hover:after{
	border-left: 12px solid #FFD633;
}

.search__button:hover{
	background-color: #FFD633;
}

.search__button:focus{
	outline: none;
	background-color: #FFD633;
}

.search__button:focus:after{
	border-left: 12px solid #FFD633;
}

.search__underside{
	margin-top: 10px;
}

.search__container{
	display: inline-block;
	vertical-align: top;
}

.search__example{
	width: 70%;
	color: #999999;
}

.search__text{
	color: #000000;
}

.search__ad{
	width: 25%;
	margin-left: 10px;
	text-align: right;
}

.search__image{
	height: 18px;
	width: 30px;
	vertical-align: bottom;
}

.banner{
	margin-top: 20px;
}

.widgets{
	margin-top: 30px;
}

.widgets__column{
	display: inline-block;
	vertical-align: top;
}

.widgets__item{
	margin-top: 32px;
}

.widgets__item:first-of-type{
	margin-top: 0;
}

.widgets__column_left{
	width: 34%;
}

.widgets__column_middle{
	width: 36%;
}

.widgets__column_right{
	width: 28%;
}

.maps__item{
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
	margin-top: 0;
}

.maps__item:last-of-type{
	margin-right: 0;
	margin-top: 12px;
}

.tv-show__button{
    background: linear-gradient(to right, #07A0FA, #1898FA, #328BF9, #4284F9, #6772F8);
    color: #FFFFFF;
    border-radius: 5px;
    padding: 4px;
    margin-left: 12px;
    width: 92px;
    transition-duration: 0.125s;
}

.tv-show__button:hover{
	transform: scale(1.1);
}

.footer{
	min-width: 100%;
	background-color: #F0F0F0;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-top: 25px;
	padding-bottom: 45px;
	box-sizing: border-box;
	color: #848484;
}

.footer__container{
	width: 845px;
	margin: 0px auto;
	position: relative;
	min-width: 700px;
	max-width: 1000px;
	padding-left: 42px;
}

.footer__logo{
	content: "";
	position: absolute;
	width: 60px;
	height: 23px;
	top: 107px;
	right: 0px;
	opacity: 0.4;
}

.footer__list{
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
}

.footer__list_big{
	width: 34%;
}

.footer__list_small{
	width: 13%;
}

.footer__list:last-of-type{
	margin-right: 0px;
}

.footer__item{
	margin-top: 15px;
}