{
  "rules": {
	"block-closing-brace-newline-after": "always",
    "block-opening-brace-space-before": "never",
	"block-no-empty": true,
	"block-opening-brace-newline-after": "always",
	"selector-attribute-brackets-space-inside": "never",
	"selector-attribute-operator-space-before": "never",
	"selector-attribute-operator-space-after": "never",
	"selector-attribute-quotes": "always",
	"selector-combinator-space-after": "always",
	"selector-combinator-space-before": "always",
	"selector-descendant-combinator-no-non-space": true,
	"selector-max-compound-selectors": 5,
	"selector-pseudo-class-case": "lower",
	"selector-pseudo-class-no-unknown": true,
	"selector-pseudo-class-parentheses-space-inside": "never",
	"selector-pseudo-element-case": "lower",
	"declaration-block-no-duplicate-properties": true,
	"declaration-block-single-line-max-declarations": 1,
	"declaration-block-trailing-semicolon": "always",
	"media-feature-colon-space-after": "always",
	"media-feature-colon-space-before": "never",
    "property-case": "lower",
    "string-no-newline": true,
    "number-leading-zero": "never",
    "number-max-precision": 3,
    "number-no-trailing-zeros": true,
    "font-family-no-duplicate-names": true,
    "color-no-invalid-hex": true,
    "function-calc-no-unspaced-operator": true,
    "function-comma-space-after": "always",
    "function-name-case": "lower",
    "function-parentheses-space-inside": "never",
    "function-url-quotes": "always",
    "rule-empty-line-before": "always"
  }
}
